html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h3 {
    margin: 2rem 0 1rem 0;
}

.icon {
    width: 50px;
}

.coloured {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project {
    min-width: 400px;
    text-align: center;
    padding: 3rem .5rem;
    margin-top: 3rem;
    background-color: whitesmoke;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transition: .2s all;

}
.project h3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: .5rem auto 0;
    z-index: 0;
    height: 3rem;
}

.project .project-img {
    width: 80%;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    object-fit: contain;
    transition: .2s all;
}

.project a {
    margin: 10px 0 0 0;
    padding: .2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    width: auto;
    color: whitesmoke;
    transition: .2 all;

}

.project a:hover {
    filter: brightness(110%);
}

.project-container {
    border-radius: 3rem;
}

.section-title {
    text-align: center;
    padding: .3rem 0 0 0;
}
#header {
    transform-origin: top right;
    transform: skewY(3.5deg);
}

.page-header {
    text-align: center;
    background: none;
    transform: skewY(-3.5deg);
}

.page-header, #resume {
    color:white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    margin-bottom: 0;
    padding-top: 3rem;
}
.page-header p {
    max-width: 800px;
    margin: .3rem auto; 
}

nav {
    background: none;
    transition: .2s all;
}

nav a {
    color: white;
    text-align: right;
    transition: .2s all;
}

.navbar-toggler img {
    color: white;
}

#resume {
    margin-top: 3rem;
    transform-origin: top right left;
    transform: skewY(-3.5deg);
    color: white;
}
#resume .section-title {
    transform: skewY(3.5deg);
}

.resume-text {
    margin: 1rem;
}

.resume-container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: skewY(3.5deg);
    padding-bottom: 2rem;
}

#skills {
    margin-top: 5rem;
    height: 30vh;
}

.skills-slide {
    height: 30vh;
    text-align: center;
}

.skills-slide ul {
    margin: 0 20%;
    padding: 0;
    text-align: left;
}

#icon-container {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 350%;
    margin: 0 5rem;
}

#icon-container i {
    margin: 2px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);

}
.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: #149F8D;
    outline: 5px solid #149F8D;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    padding: 2rem;
}

footer p {
    margin: 1rem;
}
footer a {
    text-decoration: none;
    color: white;
}